/*
 *  _forms.scss
 *
 *  Provides styles for form elements in the Borealis prototype.
 *
 *  Author: John Paulo Baltao
 *
 */

form {

    input {
        appearance: none;
        border: none;
        transition: 0.5s;
        box-sizing: border-box;

        &.text-input {
            height: 40px;
            width: 100%;
            padding-left: 7px;
            border-radius: 3px;
            border: 2px solid $dark-blue-grey;

            &:focus {
                outline: 0;
                border: 2px solid $brown;
            }
        }
    }

    #buttons-container {
        text-align: right;

        button {
            margin-right: 1.2em;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    & > div {
        margin-top: 1.2em;

        &:first-child {
            margin-top: 0;
        }
        
        &.field {
            text-align: left;

            label {
                display: block;
                font-size: 70%;
                margin-bottom: 0.2em;

                span.err {
                    color: $red;
                    margin-left: 1.2em;
                }
            
            }

            &.beside {
                display: grid;
                grid-gap: 15px;
                grid-template-columns: max-content repeat(11, 1fr);
                grid-template-rows: auto;

                label {
                    grid-column: 1 / 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 100%;
                    margin-bottom: 0;
                }

                .multiselect, .text-input {
                    grid-column: 2 / 5;
                }
            }

        }

    }

}

button {
    all: unset;
    cursor: pointer;
    height: 40px;
    min-width: 40px;
    width: fit-content;
    border-radius: 3px;
    font-size: 80%;
    padding: 0px 10px;
    transition: 0.33s;
    box-shadow: 
        0 2px 2px 0 rgba(0,0,0,0.14), 
        0 3px 1px -2px rgba(0,0,0,0.12), 
        0 1px 5px 0 rgba(0,0,0,0.2);
    background: $blue;
    color: $pale-blue;
    text-align: center;

    &:hover {
        background: $light-blue;
    }

    &:active {
        background: $dark-blue;
        box-shadow: unset;
    }

    &.clear {
        background-color: $blue-grey;
        color: $very-dark-grey;

        &:hover {
            background-color: $light-blue-grey;
        }

        &:active {
            color: $pale-grey;
            background-color: $dark-blue-grey;
        }
    }

    &.cancel, &.red {
        background-color: $red;

        &:hover {
            background-color: $light-red;
        }

        &:active {
            background-color: $dark-red;
        }
    }

    &.disabled {
        background-color: $light-blue-grey;
        box-shadow: unset;
        color: $very-dark-grey;

        &:hover {
            background-color: $light-blue-grey;
        }

        &:active {
            background-color: $light-blue-grey;
        }
    }
}

.multiselect {
    
    .multiselect__tags {
        border: 1px solid $dark-grey;

        .multiselect__tag {
            background: $gold;
            color: $very-dark-grey;

            .multiselect__tag-icon {
                &:hover {
                    background: darken($gold,20);
                }

                &:after {
                    color: $very-dark-grey;
                }

                &:hover:after {
                    color: $pale-grey;
                }
            }
        }
    }

    .multiselect__option--highlight {
        background: $gold;
        color: $very-dark-grey;

        &:after {
            background: $gold;
            color: $very-dark-grey;
        }

        &.multiselect__option--selected {
            background: $bright-red;
            color: $very-dark-grey;

            &:after {
                background: $bright-red;
            }
        }

    }

    .multiselect__content-wrapper {
        border: 1px solid $dark-grey;
    }
}