/*
 *  COLORS
 */

$pale-grey: #fafafa;
$gold: rgb(246,169,0);
$brown: rgb(146,82,25);
$red: #B71C1C;
$pale-blue: #E3F2FD;
$blue: #42a5f5;
$light-blue: #64B5F6;
$dark-blue: #1976D2;
$light-blue-grey: #eceff1;
$dark-grey: #b0bec5;